/* src/App.css */

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-button {
  background-color: #4f4b5d;
  color: rgb(255, 255, 255);
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(41, 1, 172, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease-out, box-shadow 0.3s ease, color 0.3s ease;
}

.login-button:hover {
  background-color: #000000;
  color: #ffffff;
  transform: scale(1.1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Estilos para el footer */
footer {
  background-color: #4f4b5d;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.twitter-button {
  background-color: #00acee;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease-out, box-shadow 0.3s ease, color 0.3s ease;
}

.twitter-button:hover {
  background-color: #0087b5;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Estilos para la sección principal */
.main-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-section p {
  font-size: 18px;
  line-height: 1.6;
}
